body {
    background: url("null.jpg");
}

p,h1,h2,h3,h4,h5,h6,ul,li{
    color:#9bbfbf;
    text-align:center;
}
a {
    color:orange;
    text-decoration:none;
}

::selection {
  background-color: #323232;
}

::-moz-selection {
  background-color: #323232;
}
